<div *fflow="let fum by buildForm; fflow as f; nav : navigate; submit : search"  [formGroup]="fum" [fcoord]="fum" >

    <div>
        <label>Username</label><input formControlName="username" [(ferror)]="usernameError" />
        <span *ngIf="usernameError">{{usernameError.msg}}</span>
    </div>
    <div>
        <label>Password</label><input formControlName="password" [(ferror)]="passwordError" />
        <span *ngIf="passwordError">{{passwordError.msg}}</span>
    </div>

    <div>
        <button [disabled]="!f.canSubmit()" [form-flow-submit]="f">Submit</button>
        <button [disabled]="!f.dirty()" (click)="f.reset()">Reset</button>
    </div>

</div>